.Button{
  width: 75%;
  display: block;
  margin: auto;
  cursor: pointer;
  text-align: center;
  font-size: 1.4em;
  color: aliceblue;
  padding: 8px 0;
  border-radius: 9px;
  background: #009ADD;
}

.Button:hover{
  background: #00C2CB;
}

/* Tablets */
@media (max-width: 768px) and (orientation: portrait){
  .Button{
    font-size: 23px;
    padding: 10px 0;
  }
}