/* Input component */

.Input {
  display: flex;
  flex: 8;
  align-items: center;
  margin: 10px 0;
  background-color: #EEEEF0;
  padding: 5px;
  border-radius: 9px;
}

.IcoInput {
  flex: 1;
}

.Input input {
  flex: 7;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 14pt;
  padding: 5px 0;
}

/* Para passwords */

.PasswordEye{
  cursor: pointer;
}

/* Smarthphones */

@media (max-width: 480px) and (orientation: portrait){
  .Input input {
    font-size: 20px;
    padding: 10px;
    width: 90%;
    /* flex: 6; */
  }

  .IcoInput {
    flex: 1;
  }

  label{
    font-size: 20px;
  }
}

@media (max-height: 480px) and (orientation: landscape){
  .Input input {
    font-size: 20px;
    padding: 10px;
    width: 90%;
    /* flex: 6; */
  }

  .IcoInput {
    flex: 1;
  }

  label{
    font-size: 20px;
  }
}

/* Tablets */
@media (max-width: 768px) and (orientation: portrait){
  .Input input {
    font-size: 22px;
    padding: 10px;
    width: 90%;
    /* flex: 6; */
  }

  .IcoInput {
    flex: 1;
  }

  .form-group label{
    font-size: 24px;
  }
}