.Login{
  display: flex;
  flex: 8;
  width: 100%;
  height: 100vh;
}

/* Left */

.LeftLogin{
  flex: 5;
  background: #564FCC;
  /* background: linear-gradient(#6264A7,#515396,#6264A7); */
  padding: 20px;
}

.HeroTitle{
  color: white;
  width: 80%;
  text-align: center;
  margin: auto;
}

.LogoMedifacil{
  /* filter: drop-shadow(0 0 2px white); */
  /* background: #6C63FF; */
  border-radius: 15px;
  /* box-shadow: -2px -2px 10px 3px #403d7c, 2px 2px 2px #534dbd; */
  padding: 5px;
}

.ImageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroImage{
  filter: drop-shadow(0 0 5px #333);
  width: 60%;
}

/* Right */

.RigthLogin{
  flex: 3;
  padding: 20px;
  margin: auto;
}

.hr{
  width: 80%;
  margin: 10px auto;
}

.RigthLogin h1{
  text-align: center;
  color: #323232;
  font-size: 3em;
}

.ErrorLabel {
  color: #e82056;
}

.switchLink {
  color: #009add;
  cursor: pointer;
}

.Responsive{
  display: none;
}

.NoResponsive{
  display: block;
  width: 10%;
}

/* Smartphones */

@media (max-width: 480px) and (orientation: portrait){
  .NoResponsive{
    display: none;
  }


  .LeftLogin{
    display: none;
  }

  .RigthLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 4;
  }

  .form{
    display: block;
    flex: 3;
  }

  .Responsive{
    display: block;
    flex: 1;
  }
}

@media (max-height: 480px) and (orientation: landscape){
  .NoResponsive{
    display: none;
  }


  .LeftLogin{
    display: none;
  }

  .RigthLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 4;
  }

  .form{
    display: block;
    flex: 3;
  }

  .Responsive{
    display: block;
    flex: 1;
    margin: auto;
    width: 40%;
  }
}

/* Tablets */
@media (max-width: 768px) and (min-width:481px) and (orientation: portrait){
  .LeftLogin{
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ImageContainer{
    align-items: center;
    flex: 2;
  }

  .NoResponsive{
    flex: 1;
    margin-top: 8vh;
    margin-bottom: -8vh;
    width: 25%;
    font-size: 20pt;
  }

  .HeroImage{
    width: 100%;
  }

  .HeroTitle{
    margin: auto;
    font-size: 24pt;
    flex: 1;
  }
}

@media (max-height: 768px) and (min-height:481px) and (orientation: landscape){
  .LeftLogin{
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ImageContainer{
    align-items: center;
    flex: 2;
  }

  .NoResponsive{
    flex: 1;
    width: 10%;
    font-size: 20pt;
    margin-top: 5vh;
    margin-bottom: -5vh;
  }

  .HeroImage{
    width: 60%;
  }

  .HeroTitle{
    margin: auto;
    font-size: 24pt;
    flex: 1;
  }
}