.Login{
  display: flex;
  flex: 8;
  width: 100%;
  height: 100vh;
}

/* Left */

.LeftLogin{
  flex: 5;
  background-color: #43aefa;
  padding: 20px;
}

.HeroImage{
  width: 60%;
}

/* Right */

.RigthLogin{
  flex: 3;
  padding: 20px;
  margin: auto;
}

.hr{
  width: 80%;
  margin: 10px auto;
}

.RigthLogin h1{
  text-align: center;
  color: #323232;
  font-size: 3em;
}